.my-cont{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: url(https://wallpapercave.com/wp/ibG1tbs.jpg);
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    
    

}
#first {
height: 60%;
border:  5px solid rgb(54, 227, 233);
transform-box: border-box;
background-color: rgba(5, 73, 112, 0.37);


}
h1{
    color: aliceblue;
    font-family: sans-serif;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top {
    margin-right: 50px;
    color: rgb(12, 126, 219);
    text-align: center;
    font-size: xx-large;


}

